body {
  font-size: 30px;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "title title title"
    "banner banner bb1"
    "banner banner bb2"
    "sm main main"
    "tags main main"
    "recent main main"
    "footer footer footer";
}
.wrapper > * {
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
}
.header {
  grid-area: header;
  background: #222;
  color: white;
}
.title {
  grid-area: title;
  background: red;
}
.banner {
  grid-area: banner;
  background: radial-gradient(red, yellow, blue);
}
.banner-box-1 {
  grid-area: bb1;
  background: green;
}
.banner-box-2 {
  grid-area: bb2;
  background: greenyellow;
}
.side-menu {
  grid-area: sm;
  background: pink;
}
.tags {
  grid-area: tags;
  background: yellow;
}
.recent {
  grid-area: recent;
  background: brown;
}
.main {
  grid-area: main;
  background: purple;
}
.footer {
  grid-area: footer;
  background: black;
  color: white;
}
.main {
  display: flex;
  flex-flow: row wrap;
}
.main > div {
  min-width: 200px;
  min-height: 200px;
  margin: 1rem;
  background: blueviolet;
  margin: 2rem;
  color: white;
  border-radius: 5px;
  box-shadow: -15px 30px 25px rgba(85, 82, 82, 0.8);
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .wrapper {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "title title"
      "banner banner"
      "bb1 bb2"
      "sm sm"
      "main main"
      "tags recent"
      "footer footer";
  }
}
@media (max-width: 576px) {
  .wrapper {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: auto;
    grid-template-areas:
      "header "
      "title"
      "banner"
      "bb1"
      "bb2"
      "sm"
      "tags"
      "main"
      "recent"
      "footer";
  }
}
